.animated-word {
  display: inline-block;
  margin-right: 1rem;
  overflow: hidden;
}

.animated-word > span {
  display: inline-block;
  transform: translate3d(0, 150%, 0);
}

.intro__title.active .animated-word > span {
  transform: translate3d(0, 20%, 0);
}

.intro__date.active .animated-word > span {
  transform: translate3d(0, 10%, 0);
}

.slider__item-title.active .animated-word > span {
  transform: translate3d(0, 10%, 0);
}

.prizes__title.active .animated-word > span {
  transform: translate3d(0, 10%, 0);
}

.rules__title.active .animated-word > span {
  transform: translate3d(0, 10%, 0);
}

.game__title.active .animated-word > span {
  transform: translate3d(0, 10%, 0);
}
